<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Le web de Clément - {{article.titre}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="clementsblog/public/theme/vendor/bootstrap/css/bootstrap.min.css" >
    <!-- Custom CSS -->
     <link rel="stylesheet" href="clementsblog/public/css/main.css" >
    <!-- Custom fonts for this template -->
    <link href="clementsblog/public/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="clementsblog/public/theme/css/clean-blog.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
              <img class="rounded-circle photoClement" src="clementsblog/public/img/roundMe.png">
              <div class="nomPrenom text-center">Clément <br> Thuet</div>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="/clementsblog/">Accueil</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/clementsblog/home/articles/1">Les articles</a>
                      </li>
                      <li class="nav-item">
                           <a class="nav-link" href="/clementsblog/home/quisuisje">Qui suis-je ?</a>
                      </li>
                      <li class="nav-item">
                           <a class="nav-link" href="/clementsblog/home/contact">Contact</a>
                      </li>
                  </ul>
              </div>
          </div>
    </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('clementsblog/public/theme/img/coding-dark-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Le web de Clément</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="title">{{article.titre}}</h1>
                   <h4 class="post-title">{{article.chapo}} </h4>
                <p>{{article.contenu}} </p>
                <span>Par {{user.prenom}} {{user.nom}}  </span><br>
                <small>Dernière modification le {{article.date|date('d-m-y')}}</small>
            </div>
        </div>
        <!-- Commentaires -->    
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <br>
                <h5 class='title text-center'>Commentaires</h5>
                {% for commentaire in commentaires if commentaire.valide == 1%}
                    <p>{{commentaire.contenu}}<p>
                    <small>Le {{commentaire.date|date('d-m-Y')}}</small> 
                    <hr>
                {% endfor%}
                <form id="ajouter-article-form" method="post" action="/clementsblog/admin/ajouterCommentaire/{{article.id}}" role="form"> 
                    <div class="form-group">
                        <textarea  id='commentaire' name="commentaire" class="form-control"  placeholder="Votre commentaire ..." rows="3"></textarea>
                    </div>
                    <div class=' text-center'>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>    
   </div>
  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h6 class="text-center">Pour mieux me connaitre</h6>
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="clementsblog/public/pdf/cv.pdf" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-file-pdf fas fa-stack-1x fa-inverse"></i>
                        </span>
                        <span style='font-size: 0.9em;display:block;'>CV</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/cl%C3%A9ment-thuet/" target="_blank" >
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                        <span style='display:block;'>Linkedin</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/ClementThuet/" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                        <span style='display:block;'>GitHub</span>
                    </a>
                </li>
            </ul>
            <br>
            <h6 class="text-center">Pour enrichir le contenu du site</h6>
            {% if session.logged == true%}
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="/clementsblog/admin/dashboard">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                            </span>
                            <span style='display:block;'>Tableau de bord</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/clementsblog/admin/deconnexion">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fas fa-sign-out-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <span style='display:block;'>Déconnexion</span>
                    </li>
                </ul>
            {%else%}
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="/clementsblog/admin/login">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
                            </span>
                            <span style='display:block;'>Se connecter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/clementsblog/admin/signup">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span style='display:block;'>S'inscrire</span>
                        </a>
                    </li>
                </ul>
            {%endif%}
          <p class="copyright text-muted">Copyright &copy; Clément's blog 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript-->
  <script src="clementsblog/public/theme/vendor/jquery/jquery.min.js"></script>
  <script src="clementsblog/public/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template-->
  <script src="clementsblog/public/theme/js/clean-blog.min.js"></script> 

</body>

</html>
